
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn_U9sr95QX-CiXf_3sasd-ZTZAjCeNZfmug&usqp=CAU');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100vw 100vh;
  color:white;
}

h1{
  color:white;
  font-family: 'Kalam',cursive;
}

.board_container{
  margin: 3rem auto;
  width:40vw;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box{
  /* border:1px solid white; */
  border-style: double;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OStyle{
  background-color:#101820FF,
}

.XStyle{
  background-color:#F2AA4CFF,   

}

@media screen and (max-width:768px) {
  .box{
    /* border:1px solid white; */
    border-style: double;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 1.5rem;
  }
}
button{
  padding:1rem;
  background-color:"black";
  border-radius: 10px 14px;
  margin-right:1rem;
  background-color: lightgreen;
  border:1px solid black;
  
}

